@rendermode InteractiveServer
@using BlazorTest.Components.Pages.ResultsComponents;

<div class="flower-spacer"></div>
<div class="result-container">
    <div class="flower-indicator">
        <img class="flower-image" src="@flower_name()" />
    </div>
    <div class="result-top">
        <div class="love-percentage">
            <h1 class="titan-one">@Math.Round(results.Love_percentage)%</h1>
        </div>
        <div class="flower-space"></div>
        <div class="flavor-text">
            <h1 class="titan-one">@results.Meaning.message</h1>
        </div>
    </div>
    <div class="result-item-container">
        @foreach (var kind in order_results())
        {
            <div class="result-item">
                @switch (kind)
                {
                    case ResultKind.responseTime:
                        <ResponseTime responseTime="results.AverageResponseTime.Value" />
                        break;
                    case ResultKind.heartCount:
                        <HeartCount heartCount="results.HeartCount.Value" />
                        break;
                    case ResultKind.extraY:
                        <ExtraY ExtraYs="@results.ExtraYCount.Value" />
                        break;
                    case ResultKind.periodEnd:
                        <PeriodEndCount PeriodEnd="@results.PeriodEndCount.Value" />
                        break;
                }
            </div>
        }
    </div>
    <div class="message-nums-container">
        <div class="message-nums">
            <h1 class="message-nums-text">They sent @results.OtherMessageCount messages. You sent
                @results.UserMessageCount. Thats a ratio of <b><span
                    class="message-nums-ratio">@(Math.Round((double)results.OtherMessageCount /
                                                results.UserMessageCount, 3))</span></b>
            </h1>
        </div>
    </div>
</div>


<style>
    .flower-image {
        transform:
            @translation()
            scale(1.4);
    }

    .result-container {
        position: relative;
        background-color:
            @BlazorTest.ColorConstants.purple
        ;
        border-radius: 20px;
    }

    .result-top {
        height: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
        padding: 20px;
        gap: 20px;
    }

    .message-nums-container {
        margin: 10px;
        padding: 20px;
        gap: 20px;
    }

    .message-nums-ratio {
        color:
            @( Math.Abs(((double)results.OtherMessageCount / results.UserMessageCount - 1)) < .1 ? 
                "#00FF00" :
                "red")
            ;
        
    }

    .message-nums-text {
        font-size: 20pt;
        color:
            @BlazorTest.ColorConstants.mimi
        ;
    }

    .message-nums {
        height: 90px;
        background-color:
            @BlazorTest.ColorConstants.light_pink
        ;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .result-item {
        border-radius: 20px;
        height: 120px;
        background-color:
            @BlazorTest.ColorConstants.light_pink
        ;
        padding: 10px 10px 10px 10px;
    }

    .love-percentage {
        background-color:
            @BlazorTest.ColorConstants.light_pink
        ;
        height: 100%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        color:
            @results.Meaning.color
        ;

    }

    .flower-spacer {
        height: 200px;
    }

    .flower-indicator {
        background-color:
            @BlazorTest.ColorConstants.light_pink
        ;
        height: 400px;
        width: 400px;
        position: absolute;
        border-radius: 200px;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    .flower-space {
        width: 100%;
    }

    .love-percentage>h1 {
        font-size: 90pt;
        -webkit-text-stroke: 2px
            @BlazorTest.ColorConstants.lichoriche
        ;
    }

    .flavor-text {
        background-color:
            @BlazorTest.ColorConstants.light_pink
        ;
        height: 100%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        color:
            @results.Meaning.color
        ;

    }

    .flavor-text>h1 {
        font-size: 50pt;
        -webkit-text-stroke: 2px
            @BlazorTest.ColorConstants.lichoriche
        ;
    }

    .result-item-container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 20px;
    }

    .return {
        width: 50%;
        height: 50px;
        background-color:
            @BlazorTest.ColorConstants.hunyadi
        ;
        border: 0px;
        border-radius: 10px;
    }
</style>


@code {

    private string flower_name()
    {
        @* return "../flowers/wilting_flower" + results.Meaning.flower + ".png"; *@
        return "../flowers/wilting_flower" + results.Meaning.flower + ".png";
    }

    private string translation()
    {
        switch (results.Meaning.flower)
        {
            case 1:
                return "translate(-20px, -100px)";
            case 2:
                return "translate(-30px, -100px)";
            case 3:
                return "translate(-10px, -100px)";
            case 4:
                return "translate(0px, -100px)";
            case 5:
                return "translate(-15px, -150px)";
            default: return "";
        }
    }

    enum ResultKind
    {
        responseTime,
        heartCount,
        extraY,
        periodEnd,
    }

    [Parameter]
    [EditorRequired]
    public LoveResults results { get; set; }
    @* 
    [Parameter]
    [EditorRequired]
    public EventCallback returnToHome { get; set; } *@

    private List<ResultKind> order_results()
    {
        var ret = new List<(double, ResultKind)>(1);
        ret.Add((results.AverageResponseTime.Weight, ResultKind.responseTime));
        ret.Add((results.HeartCount.Weight, ResultKind.heartCount));
        ret.Add((results.ExtraYCount.Weight, ResultKind.extraY));
        ret.Add((results.PeriodEndCount.Weight, ResultKind.periodEnd));
        return ret.OrderByDescending(i => Math.Abs(i.Item1)).Select(i => i.Item2).ToList();
    }


}