@* @using System.Runtime.CompilerServices *@
@* @inject ILogger<UploadFile> Logger *@
@rendermode InteractiveServer

<div class="container">
    <h1>Upload File</h1>

    <div class="inner-container">
        <InputFile OnChange="HandleFileSelected" />
        <div class="token">
            <p>Discord Token:</p>
            <InputNumber class="discord_token" @bind-Value="@token" />
        </div>
    </div>
    <div class="button-holder">
        <button class="titan-one love-button" disabled="@button_disabled" @onclick="CalculateLove">CALCULATE
            LOVE</button>
    </div>


</div>
<div class="upload-tutorial-spacer" />
<div class="upload-tutorial">
    <h1><b>Tutorial</b></h1>
    <br />
    <h2>Download DiscordChatExporter</h2>
    <p>From <a
            href="https://github.com/Tyrrrz/DiscordChatExporter/releases/tag/2.46">https://github.com/Tyrrrz/DiscordChatExporter/releases/tag/2.46</a>
        download
        DiscordChatExporter.Cli.&ltplatform&gt-&ltarch&gt.zip (fill in your platform and architecture). Extract the file
        to a folder.</p>
    <h2>Get discord token</h2>
    <p>Follow instructions at <a
            href="https://github.com/Tyrrrz/DiscordChatExporter/blob/master/.docs/Token-and-IDs.md">https://github.com/Tyrrrz/DiscordChatExporter/blob/master/.docs/Token-and-IDs.md</a>
        to determine your discord token</p>
    <h2>List Chats</h2>
    <p>Execute command `DISCORD_TOKEN=&ltTOKEN&gt ./DiscordChatExporter dm` (fill in your token) to list your dms. Copy
        the snowflake of the
        one you want to export</p>
    <h2>Export</h2>
    <p>Execute command `DISCORD_TOKEN=&ltTOKEN&gt ./DiscordChatExporter export &ltSNOWFLAKE&gt -o &ltOUTPUT_FILE&gt -f
        json` (fill in your token, snowflake, and output file)</p>
</div>

<style>
    .upload-tutorial-spacer {
        height: 100px;
    }

    .upload-tutorial {
        background-color:
            @BlazorTest.ColorConstants.light_purple
        ;
        border-radius: 10px;
        padding: 10px;
    }
</style>



@code {
    [Parameter]
    [EditorRequired]
    public EventCallback<(IBrowserFile, string)> OnLove { get; set; }
    private bool button_disabled = true;

    private string? discord_token = "470664396075434004";
    private Int64? _token_get = 470664396075434004;
    private Int64? token
    {
        get
        {
            return _token_get;
        }
        set
        {
            _token_get = value;
            discord_token = value.ToString();
            IsReadyForLove();
        }
    }
    private IBrowserFile? chatlog;

    private void IsReadyForLove()
    {
        if (chatlog is not null && token is not null)
        {
            button_disabled = false;
        }
    }
    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        chatlog = e.File;
        IsReadyForLove();
    }

    private void CalculateLove()
    {
        Console.WriteLine("File name: " + chatlog?.Name);
        Console.WriteLine("Discord token: " + discord_token);
        if (chatlog is null || discord_token is null)
        {
            return;
        }
        OnLove.InvokeAsync((chatlog, discord_token));
    }
}

<style>
    .container {
        background-color:
            @BlazorTest.ColorConstants.purple
        ;
        border-radius: 20px;
        padding: 10px;
        height: 100%;
    }

    .inner-container {
        background-color:
            @BlazorTest.ColorConstants.light_purple
        ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        border-radius: 10px;
        height: 100px;
        align-items: center;
    }

    .button-holder {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .love-button {
        width: 50%;
        height: 50px;
        background-color:
            @BlazorTest.ColorConstants.light_purple
        ;
        border: 0px;
        border-radius: 10px;
    }

    .love-button:enabled {
        color:
            @BlazorTest.ColorConstants.rose
        ;
    }

    .love-button:enabled:hover {
        background-color:
            @BlazorTest.ColorConstants.mimi
        ;
    }

    body {
        height: 100%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .discord_token {
        background-color:
            @BlazorTest.ColorConstants.mimi
        ;
        border: 0px;
        border-radius: 5px;
        width: 100%;
    }
</style>